.image-labeling {
  padding: 20px;
  max-width: 600px;
}

.label-move {
  cursor: move;
}


img {
  width: 600px;
  height: 400px;
  position: relative;
  border: solid black 2px
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}