.image-labeling {
  padding: 20px;
}

.label-move {
  cursor: move;
}

.image-canvas {
  border: solid black 2px
}

img {
  width: 600px;
  height: 400px;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.class-buttons {
  padding: 10px 0px 10px 0px;
}